<h1> Name: <%= cat.name %> </h1>
<table>
    <tr>
      <td> Sex </td>
      <td> <%= cat.sex %> </td>
    </tr>
    <tr>
      <td> Colour </td>
      <td> <%= cat.color %> </td>
    </tr>
    <tr>
      <td> Age </td>
      <td> <%= cat.age %> </td>
    </tr>
    <tr>
      <td> Description </td>
      <td> <%= cat.description %>
    </tr>
</table>
